:root {
    --dark: #101010;
    --light: #F3F3F3;
    --grey: #c7c7c7;
    --red: #8c0500;
    --redLight: #da2a2a;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

@font-face {
    font-family: 'Austral Sans';
    src: url('/fonts/Austral-Sans_Stamp-Regular.ttf') format('woff');

}

body{
	font-family: 'Austral Sans', sans-serif;
	color: var(--light);
    overflow: hidden;
    
}